### Amanda Michelle Darwis - 0706022310051
### Bernardo Frederick Kowe - 0706022310049

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler
from matplotlib import pyplot as plt
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering, KMeans
from scipy.cluster import hierarchy
from scipy.cluster.hierarchy import linkage, dendrogram
from sklearn.metrics import silhouette_score

In [12]:
!pip install pycountry

Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 52.1 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-24.6.1

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
df = pd.read_csv("/content/drive/MyDrive/Data Mining/ALP/DataCoSupplyChainDataset.csv", encoding='latin1', low_memory=False)
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [17]:
df.isnull().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [7]:
print(df.shape)

(180519, 53)

In [8]:
df.describe()

,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Late_delivery_risk,Category Id,Customer Id,Customer Zipcode,Department Id,Latitude,...,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Price,Product Status
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180516.000000,180519.000000,180519.000000,...,180519.000000,180519.000000,180519.000000,180519.000000,24840.000000,180519.000000,180519.000000,0.0,180519.000000,180519.0
mean,3.497654,2.931847,21.974989,183.107609,0.548291,31.851451,6691.379495,35921.126914,5.443460,29.719955,...,2.127638,203.772096,183.107609,21.974989,55426.132327,692.509764,31.851451,NaN,141.232550,0.0
std,1.623722,1.374449,104.433526,120.043670,0.497664,15.640064,4162.918106,37542.461122,1.629246,9.813646,...,1.453451,132.273077,120.043670,104.433526,31919.279101,336.446807,15.640064,NaN,139.732492,0.0
min,0.000000,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,603.000000,2.000000,-33.937553,...,1.000000,9.990000,7.490000,-4274.979980,1040.000000,19.000000,2.000000,NaN,9.990000,0.0
25%,2.000000,2.000000,7.000000,104.379997,0.000000,18.000000,3258.500000,725.000000,4.000000,18.265432,...,1.000000,119.980003,104.379997,7.000000,23464.000000,403.000000,18.000000,NaN,50.000000,0.0
50%,3.000000,4.000000,31.520000,163.990005,1.000000,29.000000,6457.000000,19380.000000,5.000000,33.144863,...,1.000000,199.919998,163.990005,31.520000,59405.000000,627.000000,29.000000,NaN,59.990002,0.0
75%,5.000000,4.000000,64.800003,247.399994,1.000000,45.000000,9779.000000,78207.000000,7.000000,39.279617,...,3.000000,299.950012,247.399994,64.800003,90008.000000,1004.000000,45.000000,NaN,199.990005,0.0
max,6.000000,4.000000,911.799988,1939.989990,1.000000,76.000000,20757.000000,99205.000000,12.000000,48.781933,...,5.000000,1999.989990,1939.989990,911.799988,99301.000000,1363.000000,76.000000,NaN,1999.989990,0.0

In [9]:
# Nilai tiap column

for col in df.columns:
    print(f"=== {col} ===")
    print(df[col].value_counts(dropna=False))
    print("\n")

=== Type ===
Type
DEBIT       69295
TRANSFER    49883
PAYMENT     41725
CASH        19616
Name: count, dtype: int64


=== Days for shipping (real) ===
Days for shipping (real)
2    56618
3    28765
6    28723
4    28513
5    28163
0     5080
1     4657
Name: count, dtype: int64


=== Days for shipment (scheduled) ===
Days for shipment (scheduled)
4    107752
2     35216
1     27814
0      9737
Name: count, dtype: int64


=== Benefit per order ===
Benefit per order
 0.000000      1177
 143.990005     199
 72.000000      194
 46.799999      188
 24.000000      181
               ...
-212.410004       1
-18.959999        1
 177.169998       1
 130.979996       1
-196.179993       1
Name: count, Length: 21998, dtype: int64


=== Sales per customer ===
Sales per customer
122.839996    1264
109.190002    1247
116.989998    1243
120.889999    1243
123.489998    1243
              ...
250.770004       1
163.779999       1
224.889999       1
380.160004       1
197.899994       1
Name: count, Length: 2927, dtype: int64


=== Delivery Status ===
Delivery Status
Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: count, dtype: int64


=== Late_delivery_risk ===
Late_delivery_risk
1    98977
0    81542
Name: count, dtype: int64


=== Category Id ===
Category Id
17    24551
18    22246
24    21035
46    19298
45    17325
48    15540
43    13729
9     12487
29    10984
37     2029
40     1780
36     1475
26     1201
13     1127
35     1070
41      974
75      838
63      652
76      650
3       632
7       614
62      592
74      529
33      524
72      492
66      484
68      484
67      483
64      442
32      441
44      440
71      434
65      431
12      423
59      405
38      384
69      362
73      357
5       343
6       328
11      309
30      283
61      271
70      208
60      207
31      181
2       138
10      111
16       68
4        67
34       61
Name: count, dtype: int64


=== Category Name ===
Category Name
Cleats                  24551
Men's Footwear          22246
Women's Apparel         21035
Indoor/Outdoor Games    19298
Fishing                 17325
Water Sports            15540
Camping & Hiking        13729
Cardio Equipment        12487
Shop By Sport           10984
Electronics              3156
Accessories              1780
Golf Balls               1475
Girls' Apparel           1201
Golf Gloves              1070
Trade-In                  974
Video Games               838
Children's Clothing       652
Women's Clothing          650
Baseball & Softball       632
Hockey                    614
Cameras                   592
Toys                      529
Golf Shoes                524
Pet Supplies              492
Crafts                    484
Garden                    484
DVDs                      483
Computers                 442
Golf Apparel              441
Hunting & Shooting        440
Music                     434
Consumer Electronics      431
Boxing & MMA              423
Books                     405
Kids' Golf Clubs          384
Health and Beauty         362
Sporting Goods            357
Lacrosse                  343
Tennis & Racquet          328
Fitness Accessories       309
Men's Golf Clubs          283
CDs                       271
Men's Clothing            208
Baby                      207
Women's Golf Clubs        181
Soccer                    138
Strength Training         111
As Seen on  TV!            68
Basketball                 67
Golf Bags & Carts          61
Name: count, dtype: int64


=== Customer City ===
Customer City
Caguas         66770
Chicago         3885
Los Angeles     3417
Brooklyn        3412
New York        1816
               ...
Bartlett          25
Ponce             22
Malden            22
Freehold          13
CA                 3
Name: count, Length: 563, dtype: int64


=== Customer Country ===
Customer Country
EE. UU.        111146
Puerto Rico     69373
Name: count, dtype: int64


=== Customer Email ===
Customer Email
XXXXXXXXX    180519
Name: count, dtype: int64


=== Customer Fname ===
Customer Fname
Mary       65150
James       1835
Robert      1759
Michael     1680
David       1625
           ...
Le             1
Huff           1
Beatty         1
Paola          1
Brees          1
Name: count, Length: 782, dtype: int64


=== Customer Id ===
Customer Id
5654     47
10591    45
5004     45
5715     44
9371     44
         ..
20218     1
16342     1
17146     1
19927     1
17042     1
Name: count, Length: 20652, dtype: int64


=== Customer Lname ===
Customer Lname
Smith         64104
Johnson         989
Brown           909
Williams        869
Jones           859
              ...
Mirkckociv        1
Brell             1
Willi             1
Atom              1
Harri             1
Name: count, Length: 1110, dtype: int64


=== Customer Password ===
Customer Password
XXXXXXXXX    180519
Name: count, dtype: int64


=== Customer Segment ===
Customer Segment
Consumer       93504
Corporate      54789
Home Office    32226
Name: count, dtype: int64


=== Customer State ===
Customer State
PR       69373
CA       29223
NY       11327
TX        9103
IL        7631
FL        5456
OH        4095
PA        3824
MI        3804
NJ        3191
AZ        3026
GA        2503
MD        2415
NC        1992
CO        1914
VA        1849
OR        1668
MA        1607
TN        1582
NV        1440
MO        1354
HI        1248
CT        1094
UT         968
NM         949
LA         948
WA         920
WI         850
MN         672
SC         665
IN         581
DC         579
KY         487
KS         458
DE         269
RI         243
WV         241
OK         232
ND         215
ID         167
AR         164
MT          87
IA          67
AL          35
95758        2
91732        1
Name: count, dtype: int64


=== Customer Street ===
Customer Street
9126 Wishing Expressway     122
4388 Burning Goose Ridge    117
4720 Noble Hills Wynd       116
2878 Hazy Wagon  Thicket    113
398 Emerald Grove           109
                           ...
9394 Foggy Path               1
5477 Thunder Campus           1
771 Noble Parkway             1
8706 Harvest Green            1
9673 Sunny Way                1
Name: count, Length: 7458, dtype: int64


=== Customer Zipcode ===
Customer Zipcode
725.0      66770
921.0        337
23455.0      334
957.0        297
79109.0      292
           ...
89015.0       16
32210.0       15
7728.0        13
11225.0        9
NaN            3
Name: count, Length: 996, dtype: int64


=== Department Id ===
Department Id
7     66861
4     48998
5     33220
3     14525
6      9686
2      2479
9      2026
10     1465
11      492
8       405
12      362
Name: count, dtype: int64


=== Department Name ===
Department Name
Fan Shop              66861
Apparel               48998
Golf                  33220
Footwear              14525
Outdoors               9686
Fitness                2479
Discs Shop             2026
Technology             1465
Pet Shop                492
Book Shop               405
Health and Beauty       362
Name: count, dtype: int64


=== Latitude ===
Latitude
18.227573    417
39.495914    370
18.227577    300
36.910831    280
26.098499    270
            ...
18.285511      1
18.276176      1
18.294365      1
18.273895      1
18.219059      1
Name: count, Length: 11250, dtype: int64


=== Longitude ===
Longitude
-66.370613     3821
-66.370575     3523
-66.370590     3522
-66.370506     3465
-66.370552     3417
               ...
-123.034271       1
-117.261620       1
-76.566422        1
-78.822189        1
-87.624718        1
Name: count, Length: 4487, dtype: int64


=== Market ===
Market
LATAM           51594
Europe          50252
Pacific Asia    41260
USCA            25799
Africa          11614
Name: count, dtype: int64


=== Order City ===
Order City
Santo Domingo    2211
New York City    2202
Los Angeles      1845
Tegucigalpa      1783
Managua          1682
                 ...
Detmold             1
Korhogo             1
Samalut             1
Libourne            1
Wendeng             1
Name: count, Length: 3597, dtype: int64


=== Order Country ===
Order Country
Estados Unidos       24840
Francia              13222
México               13172
Alemania              9564
Australia             8497
                     ...
Kuwait                   2
Sáhara Occidental        2
Guinea Ecuatorial        2
Burundi                  1
Serbia                   1
Name: count, Length: 164, dtype: int64


=== Order Customer Id ===
Order Customer Id
5654     47
10591    45
5004     45
5715     44
9371     44
         ..
20218     1
16342     1
17146     1
19927     1
17042     1
Name: count, Length: 20652, dtype: int64


=== order date (DateOrders) ===
order date (DateOrders)
1/4/2017 2:28      5
4/1/2015 19:29     5
11/23/2016 9:11    5
6/17/2016 7:29     5
7/8/2016 13:56     5
                  ..
1/31/2018 22:56    1
2/15/2016 10:17    1
2/15/2016 17:59    1
2/15/2016 19:44    1
2/17/2016 2:34     1
Name: count, Length: 65752, dtype: int64


=== Order Id ===
Order Id
50290    5
6222     5
47432    5
36535    5
37992    5
        ..
77202    1
28117    1
28139    1
28144    1
28232    1
Name: count, Length: 65752, dtype: int64


=== Order Item Cardprod Id ===
Order Item Cardprod Id
365     24515
403     22246
502     21035
1014    19298
1004    17325
        ...
127        27
208        15
860        11
60         10
226        10
Name: count, Length: 118, dtype: int64


=== Order Item Discount ===
Order Item Discount
0.000000      10028
6.000000       4589
12.000000      4067
4.000000       3647
8.000000       3626
              ...
50.490002         1
85.489998         1
140.000000        1
33.660000         1
61.189999         1
Name: count, Length: 1017, dtype: int64


=== Order Item Discount Rate ===
Order Item Discount Rate
0.04    10029
0.05    10029
0.06    10029
0.07    10029
0.09    10029
0.10    10029
0.12    10029
0.13    10029
0.15    10029
0.16    10029
0.17    10029
0.18    10029
0.20    10029
0.25    10029
0.03    10029
0.00    10028
0.01    10028
0.02    10028
Name: count, dtype: int64


=== Order Item Id ===
Order Item Id
65113     1
180517    1
179254    1
179253    1
179252    1
         ..
179244    1
179245    1
179246    1
179247    1
179248    1
Name: count, Length: 180519, dtype: int64


=== Order Item Product Price ===
Order Item Product Price
59.990002      24820
129.990005     22372
50.000000      21035
49.980000      19298
399.980011     17325
               ...
349.989990        40
329.989990        27
599.989990        21
1999.989990       15
999.989990        10
Name: count, Length: 75, dtype: int64


=== Order Item Profit Ratio ===
Order Item Profit Ratio
 0.48    9197
 0.35    7997
 0.26    6577
 0.34    6507
 0.47    6378
         ...
-1.37      18
-0.93      18
-0.90      18
-2.30      18
-2.10      18
Name: count, Length: 162, dtype: int64


=== Order Item Quantity ===
Order Item Quantity
1    99134
5    20385
3    20350
4    20335
2    20315
Name: count, dtype: int64


=== Sales ===
Sales
129.990005    22372
399.980011    17325
199.990005    15622
299.980011    13729
179.970001     5016
              ...
999.989990       10
379.959992       10
99.000000         9
198.000000        9
396.000000        9
Name: count, Length: 193, dtype: int64


=== Order Item Total ===
Order Item Total
122.839996    1264
109.190002    1247
116.989998    1243
120.889999    1243
123.489998    1243
              ...
250.770004       1
163.779999       1
224.889999       1
380.160004       1
197.899994       1
Name: count, Length: 2927, dtype: int64


=== Order Profit Per Order ===
Order Profit Per Order
 0.000000      1177
 143.990005     199
 72.000000      194
 46.799999      188
 24.000000      181
               ...
-212.410004       1
-18.959999        1
 177.169998       1
 130.979996       1
-196.179993       1
Name: count, Length: 21998, dtype: int64


=== Order Region ===
Order Region
Central America    28341
Western Europe     27109
South America      14935
Oceania            10148
Northern Europe     9792
Southeast Asia      9539
Southern Europe     9431
Caribbean           8318
West of USA         7993
South Asia          7731
Eastern Asia        7280
East of USA         6915
West Asia           6009
US Center           5887
South of  USA       4045
Eastern Europe      3920
West Africa         3696
North Africa        3232
East Africa         1852
Central Africa      1677
Southern Africa     1157
Canada               959
Central Asia         553
Name: count, dtype: int64


=== Order State ===
Order State
Inglaterra                     6722
California                     4966
Isla de Francia                4580
Renania del Norte-Westfalia    3303
San Salvador                   3055
                               ...
Vrancea                           1
Suceava                           1
Mie                               1
Iringa                            1
Serbia Central                    1
Name: count, Length: 1089, dtype: int64


=== Order Status ===
Order Status
COMPLETE           59491
PENDING_PAYMENT    39832
PROCESSING         21902
PENDING            20227
CLOSED             19616
ON_HOLD             9804
SUSPECTED_FRAUD     4062
CANCELED            3692
PAYMENT_REVIEW      1893
Name: count, dtype: int64


=== Order Zipcode ===
Order Zipcode
NaN        155679
10035.0       648
10009.0       550
10024.0       541
94122.0       526
            ...
92236.0         1
98002.0         1
60477.0         1
32174.0         1
90660.0         1
Name: count, Length: 610, dtype: int64


=== Product Card Id ===
Product Card Id
365     24515
403     22246
502     21035
1014    19298
1004    17325
        ...
127        27
208        15
860        11
60         10
226        10
Name: count, Length: 118, dtype: int64


=== Product Category Id ===
Product Category Id
17    24551
18    22246
24    21035
46    19298
45    17325
48    15540
43    13729
9     12487
29    10984
37     2029
40     1780
36     1475
26     1201
13     1127
35     1070
41      974
75      838
63      652
76      650
3       632
7       614
62      592
74      529
33      524
72      492
66      484
68      484
67      483
64      442
32      441
44      440
71      434
65      431
12      423
59      405
38      384
69      362
73      357
5       343
6       328
11      309
30      283
61      271
70      208
60      207
31      181
2       138
10      111
16       68
4        67
34       61
Name: count, dtype: int64


=== Product Description ===
Product Description
NaN    180519
Name: count, dtype: int64


=== Product Image ===
Product Image
http://images.acmesports.sports/Perfect+Fitness+Perfect+Rip+Deck                                 24515
http://images.acmesports.sports/Nike+Men%27s+CJ+Elite+2+TD+Football+Cleat                        22246
http://images.acmesports.sports/Nike+Men%27s+Dri-FIT+Victory+Golf+Polo                           21035
http://images.acmesports.sports/O%27Brien+Men%27s+Neoprene+Life+Vest                             19298
http://images.acmesports.sports/Field+%26+Stream+Sportsman+16+Gun+Fire+Safe                      17325
                                                                                                 ...
http://images.acmesports.sports/Stiga+Master+Series+ST3100+Competition+Indoor+Table+Tennis...       27
http://images.acmesports.sports/SOLE+E35+Elliptical                                                 15
http://images.acmesports.sports/Bushnell+Pro+X7+Jolt+Slope+Rangefinder                              11
http://images.acmesports.sports/SOLE+E25+Elliptical                                                 10
http://images.acmesports.sports/Bowflex+SelectTech+1090+Dumbbells                                   10
Name: count, Length: 118, dtype: int64


=== Product Name ===
Product Name
Perfect Fitness Perfect Rip Deck                 24515
Nike Men's CJ Elite 2 TD Football Cleat          22246
Nike Men's Dri-FIT Victory Golf Polo             21035
O'Brien Men's Neoprene Life Vest                 19298
Field & Stream Sportsman 16 Gun Fire Safe        17325
                                                 ...
Stiga Master Series ST3100 Competition Indoor       27
SOLE E35 Elliptical                                 15
Bushnell Pro X7 Jolt Slope Rangefinder              11
SOLE E25 Elliptical                                 10
Bowflex SelectTech 1090 Dumbbells                   10
Name: count, Length: 118, dtype: int64


=== Product Price ===
Product Price
59.990002      24820
129.990005     22372
50.000000      21035
49.980000      19298
399.980011     17325
               ...
349.989990        40
329.989990        27
599.989990        21
1999.989990       15
999.989990        10
Name: count, Length: 75, dtype: int64


=== Product Status ===
Product Status
0    180519
Name: count, dtype: int64


=== shipping date (DateOrders) ===
shipping date (DateOrders)
4/17/2015 22:16    10
3/16/2016 3:14     10
3/16/2017 5:00     10
11/6/2015 23:55    10
7/5/2017 10:59     10
                   ..
2/10/2016 5:55      1
2/12/2016 3:17      1
1/18/2018 7:12      1
1/15/2018 7:33      1
1/15/2018 7:54      1
Name: count, Length: 63701, dtype: int64


=== Shipping Mode ===
Shipping Mode
Standard Class    107752
Second Class       35216
First Class        27814
Same Day            9737
Name: count, dtype: int64

In [10]:
print(df.columns.tolist())

['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)', 'Benefit per order', 'Sales per customer', 'Delivery Status', 'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City', 'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id', 'Customer Lname', 'Customer Password', 'Customer Segment', 'Customer State', 'Customer Street', 'Customer Zipcode', 'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market', 'Order City', 'Order Country', 'Order Customer Id', 'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id', 'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price', 'Order Item Profit Ratio', 'Order Item Quantity', 'Sales', 'Order Item Total', 'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status', 'Order Zipcode', 'Product Card Id', 'Product Category Id', 'Product Description', 'Product Image', 'Product Name', 'Product Price', 'Product Status', 'shipping date (DateOrders)', 'Shipping Mode']

In [13]:
import pandas as pd
import pycountry

# 2. Dropping Columns (Redundan, Missing 100%, & Data Sensitif)
# Menambahkan 'Order Customer Id' dan 'Product Category Id' ke daftar drop
cols_to_drop = [
    'Product Description', 'Order Zipcode', 'Customer Email',
    'Customer Password', 'Product Image', 'Product Status',
    'Customer Street', 'Order Customer Id', 'Product Category Id'
]
df_clean = df.drop(columns=cols_to_drop)

# 3. Handling Missing Values pada data Customer
df_clean['Customer Lname'] = df_clean['Customer Lname'].fillna('')
df_clean['Customer Zipcode'] = df_clean['Customer Zipcode'].fillna(0)

# 4. Manual Mapping Khusus Customer Country (Mencegah NaN)
cust_country_map = {
    'EE. UU.': 'United States',
    'Puerto Rico': 'Puerto Rico'
}
df_clean['Customer Country'] = df_clean['Customer Country'].replace(cust_country_map)

# 5. Standardisasi Order Country Menggunakan pycountry
def standardize_order_country(name):
    manual_fixes = {
        'Estados Unidos': 'United States',
        'México': 'Mexico',
        'Corea del Sur': 'South Korea',
        'Rusia': 'Russian Federation',
        'Sáhara Occidental': 'Western Sahara'
    }
    if name in manual_fixes: return manual_fixes[name]
    try:
        # Fuzzy search untuk mencari nama Inggris standar
        result = pycountry.countries.search_fuzzy(name)
        return result[0].name
    except:
        return name

print("Memulai standardisasi order_country...")
order_unique = pd.Series(df_clean['Order Country'].unique())
order_mapping = {c: standardize_order_country(c) for c in order_unique}
df_clean['Order Country'] = df_clean['Order Country'].map(order_mapping)

# 6. Final Touch: Standardisasi Nama Kolom (Snake Case)
# Penting agar penulisan rumus di Tableau nanti konsisten dan mudah
df_clean.columns = [col.lower().replace(' ', '_').replace('(', '').replace(')', '') for col in df_clean.columns]

print("--- Cleaning Selesai ---")
print(f"Total Baris: {df_clean.shape[0]}")
print(f"Total Kolom: {df_clean.shape[1]}")
print("Data siap diimpor ke Tableau!")

Memulai standardisasi order_country...
--- Cleaning Selesai ---
Total Baris: 180519
Total Kolom: 44
Data siap diimpor ke Tableau!

In [15]:
df_clean.head()

,type,days_for_shipping_real,days_for_shipment_scheduled,benefit_per_order,sales_per_customer,delivery_status,late_delivery_risk,category_id,category_name,customer_city,...,order_item_total,order_profit_per_order,order_region,order_state,order_status,product_card_id,product_name,product_price,shipping_date_dateorders,shipping_mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,1360,Smart watch,327.75,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,311.359985,-249.089996,South Asia,Rajastán,PENDING,1360,Smart watch,327.75,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,309.720001,-247.779999,South Asia,Rajastán,CLOSED,1360,Smart watch,327.75,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,304.809998,22.860001,Oceania,Queensland,COMPLETE,1360,Smart watch,327.75,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,1360,Smart watch,327.75,1/15/2018 11:24,Standard Class

In [16]:
df_clean.isnull().sum()

type                           0
days_for_shipping_real         0
days_for_shipment_scheduled    0
benefit_per_order              0
sales_per_customer             0
delivery_status                0
late_delivery_risk             0
category_id                    0
category_name                  0
customer_city                  0
customer_country               0
customer_fname                 0
customer_id                    0
customer_lname                 0
customer_segment               0
customer_state                 0
customer_zipcode               0
department_id                  0
department_name                0
latitude                       0
longitude                      0
market                         0
order_city                     0
order_country                  0
order_date_dateorders          0
order_id                       0
order_item_cardprod_id         0
order_item_discount            0
order_item_discount_rate       0
order_item_id                  0
order_item_product_price       0
order_item_profit_ratio        0
order_item_quantity            0
sales                          0
order_item_total               0
order_profit_per_order         0
order_region                   0
order_state                    0
order_status                   0
product_card_id                0
product_name                   0
product_price                  0
shipping_date_dateorders       0
shipping_mode                  0
dtype: int64

In [84]:
# Nilai tiap column

for col in df_clean.columns:
    print(f"=== {col} ===")
    print(df_clean[col].value_counts(dropna=False))
    print("\n")

=== type ===
type
DEBIT       69295
TRANSFER    49883
PAYMENT     41725
CASH        19616
Name: count, dtype: int64


=== days_for_shipping_real ===
days_for_shipping_real
2    56618
3    28765
6    28723
4    28513
5    28163
0     5080
1     4657
Name: count, dtype: int64


=== days_for_shipment_scheduled ===
days_for_shipment_scheduled
4    107752
2     35216
1     27814
0      9737
Name: count, dtype: int64


=== benefit_per_order ===
benefit_per_order
 0.000000      1177
 143.990005     199
 72.000000      194
 46.799999      188
 24.000000      181
               ...
-212.410004       1
-18.959999        1
 177.169998       1
 130.979996       1
-196.179993       1
Name: count, Length: 21998, dtype: int64


=== sales_per_customer ===
sales_per_customer
122.839996    1264
109.190002    1247
116.989998    1243
120.889999    1243
123.489998    1243
              ...
250.770004       1
163.779999       1
224.889999       1
380.160004       1
197.899994       1
Name: count, Length: 2927, dtype: int64


=== delivery_status ===
delivery_status
Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: count, dtype: int64


=== late_delivery_risk ===
late_delivery_risk
1    98977
0    81542
Name: count, dtype: int64


=== category_id ===
category_id
17    24551
18    22246
24    21035
46    19298
45    17325
48    15540
43    13729
9     12487
29    10984
37     2029
40     1780
36     1475
26     1201
13     1127
35     1070
41      974
75      838
63      652
76      650
3       632
7       614
62      592
74      529
33      524
72      492
66      484
68      484
67      483
64      442
32      441
44      440
71      434
65      431
12      423
59      405
38      384
69      362
73      357
5       343
6       328
11      309
30      283
61      271
70      208
60      207
31      181
2       138
10      111
16       68
4        67
34       61
Name: count, dtype: int64


=== category_name ===
category_name
Cleats                  24551
Men's Footwear          22246
Women's Apparel         21035
Indoor/Outdoor Games    19298
Fishing                 17325
Water Sports            15540
Camping & Hiking        13729
Cardio Equipment        12487
Shop By Sport           10984
Electronics              3156
Accessories              1780
Golf Balls               1475
Girls' Apparel           1201
Golf Gloves              1070
Trade-In                  974
Video Games               838
Children's Clothing       652
Women's Clothing          650
Baseball & Softball       632
Hockey                    614
Cameras                   592
Toys                      529
Golf Shoes                524
Pet Supplies              492
Crafts                    484
Garden                    484
DVDs                      483
Computers                 442
Golf Apparel              441
Hunting & Shooting        440
Music                     434
Consumer Electronics      431
Boxing & MMA              423
Books                     405
Kids' Golf Clubs          384
Health and Beauty         362
Sporting Goods            357
Lacrosse                  343
Tennis & Racquet          328
Fitness Accessories       309
Men's Golf Clubs          283
CDs                       271
Men's Clothing            208
Baby                      207
Women's Golf Clubs        181
Soccer                    138
Strength Training         111
As Seen on  TV!            68
Basketball                 67
Golf Bags & Carts          61
Name: count, dtype: int64


=== customer_city ===
customer_city
Caguas         66770
Chicago         3885
Los Angeles     3417
Brooklyn        3412
New York        1816
               ...
Bartlett          25
Ponce             22
Malden            22
Freehold          13
CA                 3
Name: count, Length: 563, dtype: int64


=== customer_country ===
customer_country
United States    111146
Puerto Rico       69373
Name: count, dtype: int64


=== customer_fname ===
customer_fname
Mary       65150
James       1835
Robert      1759
Michael     1680
David       1625
           ...
Le             1
Huff           1
Beatty         1
Paola          1
Brees          1
Name: count, Length: 782, dtype: int64


=== customer_id ===
customer_id
5654     47
10591    45
5004     45
5715     44
9371     44
         ..
20218     1
16342     1
17146     1
19927     1
17042     1
Name: count, Length: 20652, dtype: int64


=== customer_lname ===
customer_lname
Smith         64104
Johnson         989
Brown           909
Williams        869
Jones           859
              ...
Mirkckociv        1
Brell             1
Willi             1
Atom              1
Harri             1
Name: count, Length: 1110, dtype: int64


=== customer_segment ===
customer_segment
Consumer       93504
Corporate      54789
Home Office    32226
Name: count, dtype: int64


=== customer_state ===
customer_state
PR       69373
CA       29223
NY       11327
TX        9103
IL        7631
FL        5456
OH        4095
PA        3824
MI        3804
NJ        3191
AZ        3026
GA        2503
MD        2415
NC        1992
CO        1914
VA        1849
OR        1668
MA        1607
TN        1582
NV        1440
MO        1354
HI        1248
CT        1094
UT         968
NM         949
LA         948
WA         920
WI         850
MN         672
SC         665
IN         581
DC         579
KY         487
KS         458
DE         269
RI         243
WV         241
OK         232
ND         215
ID         167
AR         164
MT          87
IA          67
AL          35
95758        2
91732        1
Name: count, dtype: int64


=== customer_zipcode ===
customer_zipcode
725.0      66770
921.0        337
23455.0      334
957.0        297
79109.0      292
           ...
89015.0       16
32210.0       15
7728.0        13
11225.0        9
0.0            3
Name: count, Length: 996, dtype: int64


=== department_id ===
department_id
7     66861
4     48998
5     33220
3     14525
6      9686
2      2479
9      2026
10     1465
11      492
8       405
12      362
Name: count, dtype: int64


=== department_name ===
department_name
Fan Shop              66861
Apparel               48998
Golf                  33220
Footwear              14525
Outdoors               9686
Fitness                2479
Discs Shop             2026
Technology             1465
Pet Shop                492
Book Shop               405
Health and Beauty       362
Name: count, dtype: int64


=== latitude ===
latitude
18.227573    417
39.495914    370
18.227577    300
36.910831    280
26.098499    270
            ...
18.285511      1
18.276176      1
18.294365      1
18.273895      1
18.219059      1
Name: count, Length: 11250, dtype: int64


=== longitude ===
longitude
-66.370613     3821
-66.370575     3523
-66.370590     3522
-66.370506     3465
-66.370552     3417
               ...
-123.034271       1
-117.261620       1
-76.566422        1
-78.822189        1
-87.624718        1
Name: count, Length: 4487, dtype: int64


=== market ===
market
LATAM           51594
Europe          50252
Pacific Asia    41260
USCA            25799
Africa          11614
Name: count, dtype: int64


=== order_city ===
order_city
Santo Domingo    2211
New York City    2202
Los Angeles      1845
Tegucigalpa      1783
Managua          1682
                 ...
Detmold             1
Korhogo             1
Samalut             1
Libourne            1
Wendeng             1
Name: count, Length: 3597, dtype: int64


=== order_country ===
order_country
United States        24840
Francia              13222
Mexico               13172
Alemania              9564
Australia             8497
                     ...
Kuwait                   2
Western Sahara           2
Guinea Ecuatorial        2
Burundi                  1
Serbia                   1
Name: count, Length: 161, dtype: int64


=== order_date_dateorders ===
order_date_dateorders
1/4/2017 2:28      5
4/1/2015 19:29     5
11/23/2016 9:11    5
6/17/2016 7:29     5
7/8/2016 13:56     5
                  ..
1/31/2018 22:56    1
2/15/2016 10:17    1
2/15/2016 17:59    1
2/15/2016 19:44    1
2/17/2016 2:34     1
Name: count, Length: 65752, dtype: int64


=== order_id ===
order_id
50290    5
6222     5
47432    5
36535    5
37992    5
        ..
77202    1
28117    1
28139    1
28144    1
28232    1
Name: count, Length: 65752, dtype: int64


=== order_item_cardprod_id ===
order_item_cardprod_id
365     24515
403     22246
502     21035
1014    19298
1004    17325
        ...
127        27
208        15
860        11
60         10
226        10
Name: count, Length: 118, dtype: int64


=== order_item_discount ===
order_item_discount
0.000000      10028
6.000000       4589
12.000000      4067
4.000000       3647
8.000000       3626
              ...
50.490002         1
85.489998         1
140.000000        1
33.660000         1
61.189999         1
Name: count, Length: 1017, dtype: int64


=== order_item_discount_rate ===
order_item_discount_rate
0.04    10029
0.05    10029
0.06    10029
0.07    10029
0.09    10029
0.10    10029
0.12    10029
0.13    10029
0.15    10029
0.16    10029
0.17    10029
0.18    10029
0.20    10029
0.25    10029
0.03    10029
0.00    10028
0.01    10028
0.02    10028
Name: count, dtype: int64


=== order_item_id ===
order_item_id
65113     1
180517    1
179254    1
179253    1
179252    1
         ..
179244    1
179245    1
179246    1
179247    1
179248    1
Name: count, Length: 180519, dtype: int64


=== order_item_product_price ===
order_item_product_price
59.990002      24820
129.990005     22372
50.000000      21035
49.980000      19298
399.980011     17325
               ...
349.989990        40
329.989990        27
599.989990        21
1999.989990       15
999.989990        10
Name: count, Length: 75, dtype: int64


=== order_item_profit_ratio ===
order_item_profit_ratio
 0.48    9197
 0.35    7997
 0.26    6577
 0.34    6507
 0.47    6378
         ...
-1.37      18
-0.93      18
-0.90      18
-2.30      18
-2.10      18
Name: count, Length: 162, dtype: int64


=== order_item_quantity ===
order_item_quantity
1    99134
5    20385
3    20350
4    20335
2    20315
Name: count, dtype: int64


=== sales ===
sales
129.990005    22372
399.980011    17325
199.990005    15622
299.980011    13729
179.970001     5016
              ...
999.989990       10
379.959992       10
99.000000         9
198.000000        9
396.000000        9
Name: count, Length: 193, dtype: int64


=== order_item_total ===
order_item_total
122.839996    1264
109.190002    1247
116.989998    1243
120.889999    1243
123.489998    1243
              ...
250.770004       1
163.779999       1
224.889999       1
380.160004       1
197.899994       1
Name: count, Length: 2927, dtype: int64


=== order_profit_per_order ===
order_profit_per_order
 0.000000      1177
 143.990005     199
 72.000000      194
 46.799999      188
 24.000000      181
               ...
-212.410004       1
-18.959999        1
 177.169998       1
 130.979996       1
-196.179993       1
Name: count, Length: 21998, dtype: int64


=== order_region ===
order_region
Central America    28341
Western Europe     27109
South America      14935
Oceania            10148
Northern Europe     9792
Southeast Asia      9539
Southern Europe     9431
Caribbean           8318
West of USA         7993
South Asia          7731
Eastern Asia        7280
East of USA         6915
West Asia           6009
US Center           5887
South of  USA       4045
Eastern Europe      3920
West Africa         3696
North Africa        3232
East Africa         1852
Central Africa      1677
Southern Africa     1157
Canada               959
Central Asia         553
Name: count, dtype: int64


=== order_state ===
order_state
Inglaterra                     6722
California                     4966
Isla de Francia                4580
Renania del Norte-Westfalia    3303
San Salvador                   3055
                               ...
Vrancea                           1
Suceava                           1
Mie                               1
Iringa                            1
Serbia Central                    1
Name: count, Length: 1089, dtype: int64


=== order_status ===
order_status
COMPLETE           59491
PENDING_PAYMENT    39832
PROCESSING         21902
PENDING            20227
CLOSED             19616
ON_HOLD             9804
SUSPECTED_FRAUD     4062
CANCELED            3692
PAYMENT_REVIEW      1893
Name: count, dtype: int64


=== product_card_id ===
product_card_id
365     24515
403     22246
502     21035
1014    19298
1004    17325
        ...
127        27
208        15
860        11
60         10
226        10
Name: count, Length: 118, dtype: int64


=== product_name ===
product_name
Perfect Fitness Perfect Rip Deck                 24515
Nike Men's CJ Elite 2 TD Football Cleat          22246
Nike Men's Dri-FIT Victory Golf Polo             21035
O'Brien Men's Neoprene Life Vest                 19298
Field & Stream Sportsman 16 Gun Fire Safe        17325
                                                 ...
Stiga Master Series ST3100 Competition Indoor       27
SOLE E35 Elliptical                                 15
Bushnell Pro X7 Jolt Slope Rangefinder              11
SOLE E25 Elliptical                                 10
Bowflex SelectTech 1090 Dumbbells                   10
Name: count, Length: 118, dtype: int64


=== product_price ===
product_price
59.990002      24820
129.990005     22372
50.000000      21035
49.980000      19298
399.980011     17325
               ...
349.989990        40
329.989990        27
599.989990        21
1999.989990       15
999.989990        10
Name: count, Length: 75, dtype: int64


=== shipping_date_dateorders ===
shipping_date_dateorders
4/17/2015 22:16    10
3/16/2016 3:14     10
3/16/2017 5:00     10
11/6/2015 23:55    10
7/5/2017 10:59     10
                   ..
2/10/2016 5:55      1
2/12/2016 3:17      1
1/18/2018 7:12      1
1/15/2018 7:33      1
1/15/2018 7:54      1
Name: count, Length: 63701, dtype: int64


=== shipping_mode ===
shipping_mode
Standard Class    107752
Second Class       35216
First Class        27814
Same Day            9737
Name: count, dtype: int64

In [87]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)

In [97]:
output_path = "/content/drive/MyDrive/Data Mining/ALP/DataCo_Clean_Final_For_Tableau.xlsx"

try:
    print("Sedang memproses penyimpanan ke Excel... Harap tunggu (jangan stop cell)")
    df_clean.to_excel(output_path, index=False, engine='openpyxl')
    print(f"✅ Berhasil! Data disimpan di: {output_path}")
except Exception as e:
    print(f"❌ Gagal menyimpan ke Excel: {e}")
    print("Saran: Gunakan .to_csv jika Excel terlalu berat bagi RAM Colab.")

Sedang memproses penyimpanan ke Excel... Harap tunggu (jangan stop cell)

Exception ignored in: <function ZipFile.__del__ at 0x7b000d704c20>
Traceback (most recent call last):
  File "/usr/lib/python3.12/zipfile/__init__.py", line 1966, in __del__
    self.close()
  File "/usr/lib/python3.12/zipfile/__init__.py", line 1983, in close
    self.fp.seek(self.start_dir)
ValueError: seek of closed file

✅ Berhasil! Data disimpan di: /content/drive/MyDrive/Data Mining/ALP/DataCo_Clean_Final_For_Tableau.xlsx